<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>configuracion</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" >
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gestion-citas']" >
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/configuracion']" >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-toggle 
    [(ngModel)]="eliminarCitasInicio"
    (ionChange)="onConfigurarEliminarCitasInicio($event)"
    justify="space-between">Permitir eliminar citas en el inicio</ion-toggle>
  </ion-item>
</ion-content>